env
db.sqlite3
__pycache__/
node_modules/

medilyzerapp/migrations
users/migrations
medilyzerapp/models

media
client_secret_431315372898-v5mv2c7i69so4euvmoa2donfk60lprr1.apps.googleusercontent.com.json